body {
    margin: 24px;
}
* {
    font-family: Verdana, sans-serif;
    color: #550000;
}
h1, h2 {
    font-weight: bold;
}
li:nth-child(even) {
    background-color: #efefef;
}
a {
    color: #bc0000;
    text-decoration: none;
    margin: 24px;
}